<form action="" (ngSubmit)="submit()" #myForm="ngForm">
    <div class="login-div">
        <label for="email" class="login-label">Email</label>
        <input type="text" class="login-input" id="email" [(ngModel)]="form.email" name="email" #email="ngModel" required>
        {{form.email}}
    </div>
    <div *ngIf="!email.valid && email.touched">
Email is not valid.
    </div>
    <div class="login-div">
        <label for="password" class="login-label">Password</label>
        <input type="text" class="login-input" id="password" [(ngModel)]="form.password" name="password" #password="ngModel" required>
    </div>
    <div *ngIf="!password.valid && password.touched">
        Password is not valid.
            </div>
    <div class="login-div">
        <input type="submit" [disabled]="myForm.form.invalid" value="Register">
    </div>
</form>