<h2>Programming Books List</h2>
<button (click)="isShowing = !isShowing" [disabled]="isDisabled">
    
<span *ngIf="!isShowing">Show Books</span> 
<span *ngIf="isShowing">Hide Books</span> 
</button>
<!-- <input type="text" [(ngModel)]="inputName">
<p class="testinput">{{inputName}}</p> -->
<ul *ngIf="isShowing" class="books-list-ul">
    <ng-container *ngFor="let singleBook of books;let i =index">
        <app-book (emitBook)="addToCart($event)" [book]="singleBook"></app-book>
    </ng-container>   
</ul>

